/**
 * common style by HK(350839123@qq.com)
 * Development on less
 *
 * Released on: November 14, 2019
 */
@import "media.less";
//底部公共footer,头部公共nav，点击/hover颜色
@footer-area-hover-color:white;
@footer-area-hover-background-color:#45dbac;
//寒假训练营
@detail-winter-vacation-hover-color:white;
@detail-winter-vacation-hover-background-color:#3a90d9;
//全年训练营
@detail-full-year-hover-color:white;
@detail-full-year-hover-background-color:#48b4fd;

.hk-btn(){
	cursor: pointer;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
	&:active{
		opacity: 0.8;
	}
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}
.noBorder{
	border:none!important ;
}
.noMargin{
	margin:0!important ;
}
.WordJustOneLine{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.word-two-line(){
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
input{
	 outline: none;
}