/**
 * common style by HK(350839123@qq.com)
 * Development on less
 *
 * Released on: November 14, 2019
 */

@import "base.less";
/*
*跳转顶部按钮
*@common
*/
.back-top{
    position: fixed;
    z-index: 8800;
    right: 40px;
    bottom: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    height: 50px;
    width: 40px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 1px;
    cursor: pointer;
    /* border: 1px solid whitesmoke; */
	&:hover{
	    opacity: 0.8;
	}
	&:active{
	    opacity: 0.7;
	}
}
/*
*顶部提示弹窗
*@common
*/
#hk-alert{
	/* background: #008000; */
	width: 500px;
	position: fixed;
	top:50px;
	left:50%;
	z-index: 908080;
	transform: translateX(-50%);
	li{
		width: 100%;
		/* text-indent: 24px; */
		font-size: 14px;
		overflow: hidden;
		opacity: 1;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		transition: opacity .2s;
		border-radius: 5px;
		margin-bottom: 5px;;
		transition: all 0.3s;
		.alert-icon{
			margin-right: 10px;;
		}
	}
	.alert-error{
		background: #fef0f0;
		color: #f56c6c;
	}
	.alert-default{
		background: #f4f4f5;
		color: #909399;
	}
	.alert-success{
		background: #f0f9eb;
		color: #67c23a;
	}
	.alert-warn{
		background-color: #fdf6ec;
		color: #e6a23c;
	}
}
/*
*右边公共通知
*@common
*/
#hk-notification{
	position: fixed;
	z-index: 908080;
	right: 20px;
	top:70px;
	.notification-item{
		margin-bottom: 20px;
		box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
		transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
		width: 330px;
		padding: 14px 26px 14px 13px;
		border-radius: 8px;
		box-sizing: border-box;
		border: 1px solid #ebeef5;
		background: white;
		h1{	
			i{
				margin-right:8px;
			}
			.notification-error{
				color: #f56c6c;
			}
			.notification-default{
				color: #909399;
			}
			.notification-success{
				color: #67c23a;
			}
			.notification-warn{
				color: #e6a23c;
			}
			font-weight: 700;
			font-size: 16px;
			color: #303133;
			margin: 0;	
		}
		p{
			font-size: 14px;
			line-height: 21px;
			margin: 6px 0 0 20px;
			color: #606266;
			text-align: justify;
		}
	}
}
/*
*头部header
*@common
*/
.header-box{
	.nav-top-div{
	    height: 44px;
	    width: 100%;
	    min-width: 1200px;
	    background: #efefef;
	    border-bottom: 1px solid #dcdcdc;
		.roll-txt{
		    width: calc(400px - 30px);
		    height: 44px;
		    line-height: 44px;
		    padding: 0 15px;
		    overflow: hidden;
		    font-size: 14px;
		    color: #6A6A6A;
			.fa-style{
			    padding-right: 5px;
			}
		}
		.top-more{
		    width: calc(800px - 30px);
		    height: 44px;
		    line-height: 44px;
		    padding: 0 15px;
		    overflow: hidden;
		    font-size: 14px;
		    color: #6A6A6A;
			.top-more-span{
			    float: right;
			    margin-left: 25px;
			}
			
		}
	}
	.nav-search-div{
	    height: 130px;
	    width: 100%;
	    overflow: hidden;
	    padding-top: 35px;
	    background: #F9F9F9;
		//左边logo
		.search-logo-div{
		    width: 300px;
		    height: 60px;
		    float: left;
		    /*background: rosybrown;*/
			.nav-logo-img{
			    height: 55px;
			    background: #EEEEEE;
			    float: left;
			}
		}
		//中间搜索框
		.search-input-div{
		    width: 550px;
		    height: 55px;
		    float: left;
		    position: relative;
		    /*background: wheat;*/
		    margin-top: 5px;
			.nav-search-border-style{
			    width: 550px;
			    height: 50px;
			    border: 1px solid #D8D8D8;
			    border-radius: 51px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    z-index: 5100;
			    background: white;
			}
			.nav-search-icon{
			    font-size: 22px;
			    color: #A5A5A5;
			    position: absolute;
			    top: 8px;
			    left: 13px;
			    z-index: 5300;
			    display: inline-block;
			}
			.nav-search-input{
			    width: 400px;
			    height: 40px;
			    border: none;
			    outline: none;
			    position: absolute;
			    top: 5px;
			    left: 44px;
			    z-index: 5200;
			    font-size: 18px;
			    color: #1b1e21;
			}
			.nav-search-btn{
			    width: 100px;
			    height: 42px;
			    line-height: 42px;
			    letter-spacing: 5px;
			    background: #06D191;
			    border-radius: 44px;
			    text-align: center;
			    display: inline-block;
			    position: absolute;
			    top: 4px;
			    right: 4px;
			    z-index: 5400;
			    font-size: 20px;
			    color: white;
			}
			.hot-search-keywords{
			    position: absolute;
			    z-index: 5200;
			    top: 53px;
			    left: 0;
			    height: 30px;
			    width: 550px;
			    overflow: hidden;
				.hot-keywords{
				    color: #06D191;
				    font-size: 14px;
				    margin-left: 15px;
				}
				
			}
		}
		//右边电话
		.search-tel-div{
		    width: 340px;
		    height: 60px;
		    float: left;
		    /*background: #0c5460;*/
			.nav-tel-img{
			    height: 55px;
			    background: #EEEEEE;
			    float: right;
			}
		}
	}
	
}
/*
*头部公共nav
*@common
*/
.nav-item-box{
    width: 100%;
	.nav-item-title-a{
	    text-decoration: none;
		.nav-item-title{
		    width: calc(100%/9 - 0px);
		    float: left;
		    font-weight: 500;
		    font-size: 18px;
		    color: black;
		    background: #F9F9F9;
		    text-align: center;
		    height: 50px;
		    line-height: 50px;
		    overflow: hidden;
		    padding-left: 5px;
		    padding-right: 5px;
		    letter-spacing: 2px;
			&:hover{
				background: @footer-area-hover-background-color;
				color: @footer-area-hover-color;
			}
		}
		.nav-item-title-active{
		    background: @footer-area-hover-background-color;
		    color: @footer-area-hover-color;
		}
	}
}
/*
*底部公共footer
*@common
*/
.foot-box{
	background: url(../img/footerBG.png) repeat-y center center/cover;
	.area-body{
		.foot-title{
			margin:125px auto 70px auto;
		}
		
		.home-cell-title-bottom{
			text-align: center;
		}
		.area-tabs{
			margin-bottom:45px;
			.area-tabs-item{
				.hk-btn;
				color: #333333;
				font-size: 22px;
				margin:0 4px 10px 4px;
				/* width: 101px; */
				height: 34px;
				border-radius: 34px;;
				line-height: 34px;
				float: left;
				padding: 0 10px;
				&:hover{
					background: @footer-area-hover-background-color;
					color: @footer-area-hover-color;
				}
			}
			.area-tabs-item.selected{
				background: @footer-area-hover-background-color;
				color: @footer-area-hover-color;
			}
		}
		.area-detail-body{
			min-height: 250px;;
			.area-line{
				margin-left: 40px;
				border-left: 2px solid #45dbac;
				padding-left: 24px;
				&:last-of-type{
					border-left:none;
					padding-left: 26px;
				}
				.area-name{
					float: left;
					position: relative;
					&::after{
						position: absolute;
						content: '';
						display: block;
						visibility: visible;
						width: 12px;
						height: 12px;
						background: #45dbac;
						left: -31px;
						top: 6px;
						border-radius: 50%;
						
					}
				}
				.area-detail{
					float: left;
				}
				
				div{
					margin-top: -10px;
					margin-bottom: 30px;
				}
				
			}
		}
	}
	.wechat-parent{
		position: relative;
		.wechat-body{
			position: absolute;
			right: 0;
			top: -205px;;
			.code-img{
				float: left;
				margin:0 23px ;
				width: 153px;
			}
		}
	}
}
/*
*detail页面公共二级导航
*@common
*/
.detail-header{
	background: url(../img/secNav.jpg) no-repeat center center/cover;
	height: 198px;
	overflow: hidden;
	.detail-logo{
		margin-top: 69px;
		float: left;
	}
	.detail-jump{
		float: right;
		margin-top: 69px;
		// margin-right: 200px;
		.detail-jump-item{
			height: 59px;
			line-height: 59px;
			padding: 0 15px;
			color: #3a3d4b;
			font-size: 14px;
		}
		.detail-jump-item.selected{
			font-size: 16px;
			color: #222328;
			font-weight: bold;
		}
	}
}
/*考研课程
* @url:kaoyankecheng
*/
.kaoyankecheng{
	.banner-slider-div{
		background: #EEEEEE;
		overflow: hidden;
		
		img{
			width: 100%;
		}
	}
	.kaoyankecheng-sub{
		padding: 0;
		width: 272px;
		border-radius: 20px;
		overflow: hidden;
		background: white;
		.kaoyankecheng-sub-title{
			height: 50px;
			width:100%;
			background-image: linear-gradient(to right, #ef4c4f,#f66aa9);
			font-size: 18px;
			text-align: center;
			line-height: 50px;
			font-weight: bold;
		}
		.kaoyankecheng-sub-body{
			margin: 9px 16px;
			border-bottom:1px solid #f9f9f9;
			color:black;
			&:nth-of-type(1){
				margin-top: 55px;
			}
			.kaoyankecheng-sub-icon{
				color: #dedede;
			}
			.kaoyankecheng-sub-name{
				color: #050505;
				margin:0 10px
			}
			input{
				width: 145px;
				outline: none;
			}
		}
		.kaoyankecheng-btn{
			width: 144px;
			height: 36px;
			border-radius: 36px;;
			line-height: 36px;
			text-align: center;
			margin: 9px auto;
			.hk-btn;
		}
		.kaoyankecheng-btn-yuyue{
			color: white;
			background: #ef4c4f;
			
		}
		.kaoyankecheng-btn-ask{
			border: 1px solid #d5d5d5;
			color: #393939;
		}
	}
}

/*寒假训练营
* @url:detail/detail-winter-vacation
*/
.detail-winter-vacation{

	.detail-banner{
		overflow: hidden;
		width: 100%;
		min-height: 600px;
		background: #e0e0e0;
		position: relative;
	}
	.detail-banner>img{
		position: absolute;
		// width: 100%;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}
	.detail-body1{
		position: relative;
		.detail-form-body{
			width: 1164px;
			height: 360px;
			background: white;
			position: absolute;
			top: -64px;
			left:50%;
			transform: translateX(-50%);
			border-radius: 20px;;
			div{
				margin:20px auto;
			}
			.detail-form-title{
				width: 472px;
				height: 137px;
				/* background: palevioletred; */
			}
			.detail-form{
				overflow: hidden;
				@height:60px;
				div{
					float: left;
					margin-left: 36px;
					padding-bottom: 40px;
					h2{
						font-size: 20px;
						color: #8c8f94;
						margin-left: 36px;
					}
					input{
						border-radius: @height;
						height: @height;
						width: 100%;
						border:2px solid #8c8f94;
						font-size: 30px;
						text-indent: 24px;
					}
				}
				.form-name{
					margin-left: 83px;
					width: 288px;
				}
				.form-phone{
					width: 430px;
					input{
						
					}
				}
				.hk-btn{
					.hk-btn;
					width: 204px;
					margin-top: 51px;
					height: @height;
					line-height: @height;
					border-radius: @height;
					background: #f42267;
					color: white;
				}
			}
		}
	}
	.detail-body1>img{
		width: 100%;
	}
	.detail-body2-title{
		width: 1016px;
		height: 185px;
		/* background: #B3D7FF; */
		margin:210px auto 88px auto;
	}
	.detail-body2-item{
		width: 22%;
		margin: 0 1.5%;
		border: 2px solid #f2f2f2;
		height: 330px;
		float: left;
		transition: all 0.5s;
		box-sizing: border-box;
	}
	
	.detail-body2-item-img{
		background: url(../img/detail-winter-vacation-title3-logo1.png) no-repeat center center/contain;
		width: 70px;
		height: 70px;
		margin: 52px auto 40px auto;
	}
	.detail-body2-item-img>img{
		width: 100%;
	}
	.detail-body2-item>h1{
		color:#5c5c5c;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 15px;
	}
	.detail-body2-item>p{
		margin-bottom: 15px;
		color: #979797;
		font-size: 16px;
		text-align: center;
	}
	.detail-body2-item.selected{
		background: #3b91d1;
		border: none;
		
	}
	.detail-body2-item.selected>p,.detail-body2-item.selected>h1{
		color: white;
	}
	.detail-body2-item:hover{
		
		background: @detail-winter-vacation-hover-background-color;
		border-color: white;
	}
	.detail-body2-item:hover>p,.detail-body2-item:hover>h1{
		color: @detail-winter-vacation-hover-color;
	}
	.detail-body2-item:hover>.detail-body2-item-img{
		background: url(../img/detail-winter-vacation-title3-logo2.png) no-repeat center center/contain;
	}
	.detail-body2-center{
		margin-bottom: 286px;
	}
	
	.detail-hot{
		overflow: hidden;
		background: #eef4f5;
	}
	.detail-hot-title{
		width: 656px;
		height: 166px;
		/* background-color: rosybrown; */
		margin: 150px auto;
	}
	.detail-hot-item{
		
		height: 356px;
		width: 100%;
		box-shadow: 0 0 20px #bdbdbd;
		margin-bottom: 60px;
		&:hover{
			.detail-hot-item-word{
				background: @detail-winter-vacation-hover-background-color;
				color: @detail-winter-vacation-hover-color;
			}
			div,p,h1{
				color: white;
			}
			.hot-item-ask{
				background: white;
				color: #777777;
			}
		}
	}
	.detail-hot-item>div{
		float: left;
	}
	.detail-hot-item-img{
		width: 376px;
		height: 100%;
		background-color: #45DBAC;
	}
	.detail-hot-item-word{
		transition: all 0.3s;
		width:calc(~"100% - 376px");
		/* background-color: paleturquoise; */
		height: 100%;
	}
	.detail-hot-item-word>div{
		margin: 40px 0;
		float: left;
	}
	.hot-item-word-left{
		width: 548px;
		/* background: greenyellow; */
		height: calc(~"100% - 80px");
		/* border-left:1px solid #e0e0e0; */
		border-right:1px solid #e0e0e0;
		padding-left:108px;
	}
	.hot-item-word-left-border-left{
		border-left:1px solid #e0e0e0;
		border-right:none;
	}
	.hot-item-word-left>h1{
		font-size: 40px;
		color: #368fc7;
		font-weight: bold;
		margin: 60px 0 35px 0;
	}
	.hot-item-word-left>p{
		font-size: 26px;
		color: #777777;
		margin-bottom: -4px;;
	}
	.hot-item-word-right-price-item{
		float: left;
		margin: 20px 15px 0 15px;;
		
	}
	.hot-item-word-right-price-item>div{
		
		font-size: 20px;
		color: #575757;
		text-align: center;
	}
	.hot-item-word-right-price-item>div+div{
		color: #ff5252;
	}
	.hot-item-word-right-price-item>div>span{
		font-size: 36px;
	}
	.hot-item-ask{
		.hk-btn;
		color:@detail-winter-vacation-hover-color ;
		background-color:@detail-winter-vacation-hover-background-color ;
		width: 160px;
		height: 48px;
		border-radius: 48px;
		line-height: 48px;
		border: 1ps solid #b3d3ef;
		box-shadow: 0 0 20px #1076cd;
		margin: 50px auto 0 auto;
	}
	.detail-hot-center{
		margin-bottom: 200px;
	}
}
/*全年训练营
* @url:detail/detail-full-year
*/
.detail-full-year{
	background: white;
	img{
		width: 100%;
	}
	.full-banner{
		// height: 800px;
		width: 100%;
		background: greenyellow;
		
	}
	.detail-full-year-yuyue{
		padding-bottom: 1px;
		.yuyue-title{
			margin: 82px auto 60px auto;
			width: 266px;
			height: 75px;
		}
		.full-year-yuyue-item{
			width: 275px;
			margin-bottom: 40px;;
			.img-box{
				width:100%;
				height: 296px;
				background: gray;
			}
			.title{
				height: 138px;
				line-height: 138px;
				border: 1px solid #e2e2e2;
				border-top: none;
				text-align: center;
				color: #0f0f0f;
				font-size: 20px;
				transition: all 0.3s;
			}
			&:hover{
				.title{
					background: @detail-full-year-hover-background-color;
					color:@detail-full-year-hover-color;
				}
			}
		}
	
		.width-1200-center{
			display: flex;
			justify-content: space-between;
			
			
		}
		.width-996-center{
			display: flex;
			justify-content: space-between;
			width: 996px;
			margin: 0 auto;
		}
		.full-year-yueyue-btn{
			.hk-btn;
			width: 212px;
			height: 46px;
			line-height: 46px;
			border-radius: 46px;
			color: @detail-full-year-hover-color;
			background: @detail-full-year-hover-background-color;
			box-shadow: 0 0 20px @detail-full-year-hover-background-color;
			margin: 10px auto 210px auto;
		}
		
	}
	.kecheng{
		overflow: hidden;
		.kecheng-title{
			width: 273px;
			height: 165px;
			margin: 100px auto;
		}
		.kejian-item{
			margin-bottom: 70px;
			height: 350px;
			overflow: hidden;
			div{
				float: left;
			}
			.img-box{
				width: 618px;
				height: 100%;
				background: greenyellow;
			}
			.word{
				position: relative;
				width: calc(~"100% - 618px");
				// background: #F1B0B7;
				height: 100%;
				padding-left: 47px;;
				h1{
					color: #3f3f3f;
					font-size: 43px;
				}
				@font-size:26px;
				@font-color:#767676;
				h2{
					font-size:@font-size;
					color:@font-color;
					margin-bottm: 12px;
				}
				ul{
					padding: 0;
					list-style:inherit;
					li{
						height: 30px;
						line-height: 30px;
						font-size:@font-size;
						color:@font-color;
						span{
							font-size: 20px;
							color: #fd1849;
						}
						.price{
							font-weight: bold;
							font-size: 30px;
							
						}
					}
				}
				.hk-btn{
					position: absolute;
					right: 21px;
					bottom: 0;
					.hk-btn;
					width: 210px;
					height: 64px;
					line-height:64px;
					border-radius: 64px;
					font-size: 26px;
					color:white;
					background: @detail-full-year-hover-background-color;
				}
			}
		}
		.kecheng-footer{
			margin: 0 auto 126px auto;
			width: 1177px;
			height: 83px;
		}
	}
	.full-year-form{
		padding-bottom: 240px;
		overflow: hidden;
		.form-title{
			width: 748px;
			height: 164px;
			margin: 270px auto 77px auto;
		}
		.form-body{
			
			width: 1164px;
			height: 190px;
			margin: 0 auto;
			border-radius: 20px;
			overflow: hidden;
			@height:56px;
			div{
				margin-right: 37px;
				float: left;;
				h2{
					font-size: 20px;
					color: #8c8f94;
					text-indent: 34px;
				}
				input{
					border:1px solid #ebebec;
					border-radius: @height;
					height: @height;
					line-height: @height;
					font-size: 30px;
					text-indent: 34px;
					width: 100%;
				}
			}
			.form-name{
				width: 286px;
				margin-top: 45px;
				margin-left:87px;
				
			}
			.form-phone:extend(.detail-full-year .full-year-form .form-body .form-name) {
				margin-left:0;
				width: 432px;
				input{
					
				}
			}
			.hk-btn{
				.hk-btn;
				width: 202px;
				background: #48b4fd;
				height: @height;
				line-height: @height;
				border-radius: @height;
				margin-top: 79px;
				color: white;
			}
			
		}
		
	}
	
}
/*复试训练营
* @url:detail/detail-reexamination
*/
.detail-reexamination{
	img{
		width: 100%;
	}
	.banner{
		max-height: 600px;
		overflow: hidden;
		
	}
	.serve{
		background: url(../img/detail-reexamination-bg1.png) no-repeat center center/cover;
		overflow: hidden;
		.title1{
			width: 715px;
			height: 93px;
			margin: 100px auto;
		}
		.serve-body{
			overflow: hidden;
			.serve-item+.serve-item{
				margin-left: 144px;;
			}
			.serve-item{
				float: left;
				width: 190px;
				// background: #48B4FD;
				h1{
					text-align: center;
					font-size: 20px;
					color: #333333;
					margin-top: 43px;
				}
				.bg{
					overflow: hidden;
					border-radius: 114px;
					width: 114px;
					height: 114px;
					background: #efefef;
					margin: 0 auto;
					transition: all 0.3s;
					.icon{
						margin: 30px auto;
						width: 42px;
						height: 52px;
						background: url(../img/detail-reexamination-serve-2.png) no-repeat center center /contain;
					}
				}
				&:hover{
					.bg{
						background: #24a7ff;
					}
				}
			}
			.serve-item1{
				.bg{
					.icon{
						background: url(../img/detail-reexamination-serve-7.png) no-repeat center center /contain;
					}
				}
				&:hover{
					.icon{
						background: url(../img/detail-reexamination-serve-8.png) no-repeat center center /contain;
					}
				}
			}
			.serve-item2{
				.bg{
					.icon{
						background: url(../img/detail-reexamination-serve-4.png) no-repeat center center /contain;
					}
				}
				&:hover{
					.icon{
						background: url(../img/detail-reexamination-serve-3.png) no-repeat center center /contain;
					}
				}
			}
			.serve-item3{
				.bg{
					.icon{
						background: url(../img/detail-reexamination-serve-6.png) no-repeat center center /contain;
					}
				}
				&:hover{
					.icon{
						background: url(../img/detail-reexamination-serve-5.png) no-repeat center center /contain;
					}
				}
			}
			.serve-item4{
				.bg{
					.icon{
						background: url(../img/detail-reexamination-serve-2.png) no-repeat center center /contain;
					}
				}
				&:hover{
					.icon{
						background: url(../img/detail-reexamination-serve-1.png) no-repeat center center /contain;
					}
				}
			}
		}
	}
	.dingzhi{
		background: white;
		overflow: hidden;
		img{
			margin-top: 140px;
			
		}
	}
	.beizhan{
	}
}
/*高端彩虹卡
* @url:detail/detail-rainbow-card
*/
.detail-rainbow-card{
	img{
		width: 100%;
	}
	.rainbow-table{
		background: white;
		h1{
			width: 292px;
			height: 45px;
			margin: 0 auto;
		}
		.rainbow-tabs{
			width: 768px;
			margin: 30px auto 70px auto;
			display: flex;
			justify-content: space-between;
			.tabs-item{
				.hk-btn;
				color: #545454;
				font-size: 20px;
				padding: 10px 30px;
				cursor: pointer;
				transition: all 0.3s;
				&:hover{
					background: #fd1849;
					color:white;
				}
				&.selected{
					color: white;
					background: #fd1849;
				}
			}
			
		}
		.rainbow-img{
			padding-bottom: 158px;
		}
	}
}
/*考研资讯列表页
* @url:kaoyanInformation
*/
.information{
	.center{
		
		.width-1200-center{
			position: relative;
			.center-body{
				background: white;
				width: 910px;
				padding: 20px;
				min-height: 1478px;
				position: relative;
				.title{
					position: relative;
					text-align: left;
					font-size: 22px;
					color: #4d4d4d;
					padding-top: 14px;
					letter-spacing: 2px;
					padding-bottom: 20px;
					&::after{
						position: absolute;
						display: block;
						content: "";
						background: #66a8fc;
						left: 0;
						top: 0;
						width: 100px;
						height: 4px;
					}
				}
				.list{
					
					.list-item{
						margin-top: 28px;
						overflow: hidden;
						height: 160px;
						display: block;
						border-bottom: 1px solid #d0d0d0;
						
						&:hover{
							.word{
								h1{
									color: #45dbac;
									transition: all 0.1s;
								}
							}
						}
						.img{
							float: left;
							width: 256px;
							height: 140px;
							background: gainsboro;;
							overflow: hidden;
							img{
								width: 100%;
							}
						}
						.word{
							height: 140px;
							position: relative;
							padding-left: 30px;
							float: left;
							width: calc(~"100% - 256px");
							h1{
								text-align: left;
								font-size: 18px;
								padding-bottom: 18px;
								color: #2e2e2e;
								font-weight: bold;
							}
							h3{
								text-align: left;
								font-size: 14px;
								color: #4d4d4d;
								.word-two-line;
							}
							p{
								position: absolute;
								right: 0;
								bottom: 0;
								color: #343434;
								margin-bottom: 0;
								i{
									margin-left: 16px;
									color: #d2d2d2;
									margin-right: 7px;
								}
							}
						}
					}
				}
				.information-page-body{
					position: absolute;
					bottom:40px;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
				}
			}
			.right{
				@margin-top:17px;
				position: absolute;
				top: 0;
				right: 0;
				width: 270px;
				.right-top{
					height: 184px;
					background: white;
				}
				.hot-recommend{
					margin-top: @margin-top;
					padding: 14px;
					background: white;
					h1{
						font-size: 16px;
						color: #4d4d4d;
						border-bottom: 1px solid #d0d0d0;
						text-align: left;
						padding-bottom: 10px;
						position: relative;
						margin-bottom: 13px;
						&::after{
							position: absolute;
							content: "";
							display: block;
							width: 66px;
							height: 2px;
							background: #45dbac;
							left: 0;
							bottom: -1px;
						}
					}
					.list{
						a{	
							&:hover{
								color: #45dbac;
							}
							font-size: 14px;
							color: #4d4d4d;
							position: relative;
							display: block;
							text-align: left;
							padding-left: 14px;
							margin-bottom: 10px;
							&:after{
								position: absolute;
								content: "";
								display: block;
								width: 10px;
								height: 10px;
								background: #ff6600;
								left: 0;
								bottom: 6px;
								border-radius: 10px;
							}
						}
					}
				}
				.hot-communication:extend(.information .center .width-1200-center .right .hot-recommend all){
					.list{
						.information-num{
							&:hover{
								color:#4d4d4d ;
							}
							span{
								color: #45dbac;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}
					div{
						margin-bottom: 10px;
					}
				}
			}
		}
		
	}
}
/*考研资讯详情页
* @url:detail-information
*/
.detail-information:extend(.information all){
	.center{
		.width-1200-center{
			.center-body{
				.title{
					padding-bottom: 10px;
					text-indent: 45px;
					&::after{
						left: 45px;
					};
				}
				.sectitle{
					text-align: left;
					font-size: 14px;
					color: #a1a1a1;
					padding-bottom: 30px;
					border-bottom: 1px solid #d3d3d3;
					margin-bottom: 30px;
					text-indent: 45px;
					span{
						margin-right: 10px;;
					}
				}
			}
		}
		
	}
}