/*
   局部样式
*/
.click-a{
    text-decoration: none;
    color: #595959;
}
/* .banner-info-div{
    position: absolute;
    z-index: 6300;
    height: 370px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
} */
.maps-a{
    text-decoration: none;
    font-size: 16px;
    color: #595959;
    letter-spacing: 1px;
    /*display: block;*/
    padding-left: 15px;
    padding-right: 15px;
    /*padding-bottom: 5px;*/
}
.maps-p{
    margin-bottom: 5px;
}
/* .nav-top-div{
	border-top: 1px solid #d0d0d0;
	padding-top: 10px;;
} */
.dir-div{
	margin-bottom: 20px;;
}
.dir-fa{
    margin-left: 5px;
}
.dir-a{
    margin-left: 5px;
    color: #595959;
}
.cell-left{
    float: left;
    width: 290px;
    height: 530px;
    background: #EEEEEE;
    margin-left: 20px;
}
.cell-right{
    float: left;
    width: calc(100% - 290px - 20px - 40px);
    /* min-height: 530px; */
    min-height: 256px;
    margin-left: 20px;
    background: #F9F9F9;
}
.home-cell-title-span{
    border-left: 5px solid #66A8FC;
    padding-left: 10px;
}
.fixed-nav{
    position: fixed;
    z-index: 808080;
    top: 0;
    left: 0;
    border-bottom: 1px solid #dcdcdc;
    background: #F9F9F9;
}


/*考研课程2019-11-11*/






















